@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

body{
    font-family: 'Poppins', sans-serif !important;
    margin: 0;
    padding: 0;
}
@keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
}

@keyframes slideUp {
    from { 
        opacity: 0;
        transform: translateY(20px);
    }
    to { 
        opacity: 1;
        transform: translateY(0);
    }
}

.animate-fadeIn {
    animation: fadeIn 1s ease-out forwards;
}

.animate-slideUp {
    animation: slideUp 0.8s ease-out forwards;
}

.animate-slideUp, .animate-fadeIn {
    opacity: 0;
    transform: translateY(20px);
    transition: opacity 0.8s ease-out, transform 0.8s ease-out;
}

.animate-slideUp.visible, .animate-fadeIn.visible {
    opacity: 1;
    transform: translateY(0);
}

#reservation-modal {
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

.modal-overlay {
    background-color: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(4px);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.modal-content {
    max-width: 90%;
    max-height: 90%;
    overflow-y: auto;
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    padding: 20px;
    z-index: 50;
}

.hidden {
    display: none !important;
}

@media (max-width: 768px) {
    .menu-normal {
        display: none;
    }
}

.plat{
    cursor: pointer;
}

.plat .fas{
    transition: all 0.3s ease-in-out;
}

.plat:hover .fas{
    transform: scale(1.2) rotate(-5deg);
}

#success-message {
    transition: opacity 0.5s ease-out;
}